<div class="relative bg-[#445442]">
  <div class="mx-auto px-4 sm:px-24">
    <div class="flex justify-center items-center py-6 md:justify-start md:space-x-10">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-start lg:flex-1 truncate">
        <img
          src="{{ 'milk-denmark-logo2.png' | asset_img_url: 'large' }}"
          class="logo bg-color"
          width="158"
          height="64"
        >
       
      </div>
      <div>
      </div>


      </div>
    </div>
  </div>
