<div class="homepage">
  <img src="{{ 'baby.jpg' | asset_img_url: 'large' }}" width="913" height="189">
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>